/* =======
/* General
/* ======= */
#main {
  /*width: 850px;
	margin: 0 auto;*/ }

ul {
  padding: 0;
  margin-top: 10px;
  margin-left: 25px; }

p {
  margin-bottom: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

/* =========
/* Buscador
/* ========= */
#search h1 {
  text-align: center; }

#search-form .bloc {
  width: 78%;
  margin: 0 auto; }

#busca {
  margin-top: 5px;
  margin-bottom: 20px; }

/* =========
/* Resultados
/* ========= */
table {
  margin-top: 20px; }
  table tr th {
    width: 50%; }
  table tr td {
    width: 50%; }

/* ==========
/* Pagination
/* ========== */
dir-pagination-controls {
  margin: 0 auto; }

ul.pagination {
  margin: 20px auto; }
  ul.pagination li a {
    margin: 0 -1px;
    padding: 6px 8px; }
